*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Izquierda-App{
    -background: green
}

.Contenedor-App{
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(150deg, #201C57 50%, #333A77);
    display: grid;
    grid-template-columns: 33.33% 66.67%;
}

