.Contenedor-Items{
    margin-top: 25px;
    width: 100%;
    padding: 0px 25px 25px 25px;
    position: relative;
}
.Contenedor-Items::before{
    position: absolute;
    content: "";
    width: 70%;
    height: 3px;
    background:  rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    transform: translateX(20%);

}

.Fecha-Rama{
    display: flex;
    justify-content: space-between;
}

.AcercaDe{
    color: #fff;
    text-transform: uppercase;
}

.Fecha-Rama .Rama{
 color: yellow;
 text-transform: none;
}


/* Propuestas */

.Contenedor-Propuesta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 40px;
    font-family: 'Segoe UI';
    font-weight: bold;
    margin-block: 10px;
}

.Contenedor-Propuesta:hover{
    background: #fff;
    cursor: pointer;
}

.Contenedor-Propuesta .Foto-Nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Contenedor-Propuesta .Foto-Nombre img{
    width: 40px;
    height: 40px;
    border-radius: 100vmax;
}

.Contenedor-Propuesta .Foto-Nombre h3{
    color: #B1ABAB;
}

.Contenedor-Propuesta .Status{
    margin-right: 10px;
    color: #4f558a;
}